DATABASE_URL=postgresql://postgres:Nivi-1627@localhost:5432/blogdb
PORT=8080
NODE_ENV=development

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/blogdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=Nivi-1627

ACCESS_TOKEN_SECRET=blog_access_secret_super_secure_key_32chars
REFRESH_TOKEN_SECRET=blog_refresh_secret_super_secure_key_32chars
ACCESS_TOKEN_EXPIRES_IN=15m
ACCESS_TOKEN_EXPIRATION_MS=900000
REFRESH_TOKEN_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173
VITE_API_URL=http://localhost:5000/api
